<html>
  <head>
    <!-- Materialize css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Load the latest version of TensorFlow.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>

    <title>El Classifo</title>
  </head>
  <body>
    <div id="container" class="container">

      <h1>El Classifo</h1>

      <h5>Upload an image to see what it is</h5>

      <br>

      <!-- Show Error with ejs -->
      <%= typeof msg != 'undefined' ? msg : '' %>

      <!-- Submit Image Form -->
      <form action="/" method="POST" , enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input name="myImage" type="file" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>

      <br />

      <!-- Show uploaded image -->
      <img
        id="img"
        src="<%= typeof file != 'undefined' ? file : '' %>"
        class="responsive-img"
      />
    </div>

    <!-- Materializecss script needs jquery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!-- Materializecss script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Load index.js after the content of the page -->
    <script src="index.js"></script>
  </body>
</html>
